/*  your css code here. If applicable */

  .main{
	  Background-color: #f5f5f5;
	  padding:20px;
	  
  }

  .author{
	  Text-align:right;
	  Font-style:italic;
  }

 .testimonial{
	 background-color:white;
	 border:2px solid #ddd ;
	 padding:15px;
	 margin-bottom:10px;
	 
	
 }




